/* montserrat-regular - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	src: url('/fonts/montserrat-v18-latin-regular.eot'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/montserrat-v18-latin-regular.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/montserrat-v18-latin-regular.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/montserrat-v18-latin-regular.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/montserrat-v18-latin-regular.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/montserrat-v18-latin-regular.svg#Montserrat')
			format('svg'); /* Legacy iOS */
}

/* montserrat-600 - latin */
@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	src: url('/fonts/montserrat-v18-latin-600.eot'); /* IE9 Compat Modes */
	src: local(''), url('/fonts/montserrat-v18-latin-600.eot?#iefix') format('embedded-opentype'),
		/* IE6-IE8 */ url('/fonts/montserrat-v18-latin-600.woff2') format('woff2'),
		/* Super Modern Browsers */ url('/fonts/montserrat-v18-latin-600.woff') format('woff'),
		/* Modern Browsers */ url('/fonts/montserrat-v18-latin-600.ttf') format('truetype'),
		/* Safari, Android, iOS */ url('/fonts/montserrat-v18-latin-600.svg#Montserrat') format('svg'); /* Legacy iOS */
}

:root {
	--primary-green: #009639;
	--primary-green-25: rgba(0, 143, 100, 0.25);
	--primary-magenta: CC317C;
	--primary-blue: #0061ff;

	--secondary-brown: #807773;
	--secondary-organge: #d9730d;
	--secondary-yellow: #dfab01;
	--secondary-green: #0f7b6c;
	--secondary-blue: #0b6e99;
	--secondary-violet: #6940a5;
	--secondary-magenta: #ad1a72;
	--secondary-red: #e03e3e;
	--secondary-gray: #9b9a97;

	--complementary-gray-1: #0d1117;
	--complementary-gray-2: #161b22;
	--complementary-gray-3: #30363d;
	--complementary-white-5: rgba(240, 246, 252, 0.05);
	--complementary-white-25: rgba(240, 246, 252, 0.25);
	--complementary-white-50: rgba(240, 246, 252, 0.5);
	--complementary-white: #f0f6fc;
}

body {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;

	background-color: var(--complementary-gray-2);

	font-family: Montserrat;
	font-weight: 600;
	color: #f0f6fc;

	margin: 0;
}
